@import "tailwindcss";

.textGradient {
  /* background: -webkit-linear-gradient(#4338ca, #818cf8); */
  background: -webkit-linear-gradient(#92400e, #ca8a04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orangeShadow {
  box-shadow: 3px 3px 1px 1px #fed7aa; /* orange-200*/
}

.orangeShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px #fed7aa;
}
