@import "tailwindcss";

.textGradient {
  /* background: -webkit-linear-gradient(#4338ca, #818cf8); */
  background: -webkit-linear-gradient(#92400e, #ca8a04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
